<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase!</h1>
    <p>
      Your order has been successfully submitted.
      Soon you will get your products at home.
    </p>
    <p>Thanks for buying at Jungle! </p>
  </body>
</html>